@import "tailwindcss";

:root {
  --radius: 0.5rem;
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.269 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.269 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.269 0 0);
  --primary: oklch(0.5861 0.1303 160.28);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.922 0 0);
  --secondary-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.269 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.5861 0.1303 160.28);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.922 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.922 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.922 0 0);
  --primary: oklch(0.5861 0.1303 160.28);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.371 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.87 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.922 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.269 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.5861 0.1303 160.28);
}

@layer base {
  * {
    border-color: rgb(226 232 240);
    outline-color: rgb(100 116 139 / 0.5);
  }
  body {
    background-color: rgb(255 255 255);
    color: rgb(15 23 42);
  }

  .dark body {
    background-color: rgb(2 6 23);
    color: rgb(241 245 249);
  }
}